@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body { background-color: #F1F1F1; }
    </style>
</head>
<body>
    <div class="container text-center">
        @{
            try {
                // See https://www.siteground.com/kb/google_free_smtp_server/
                // See https://devanswers.co/allow-less-secure-apps-access-gmail-account/

                WebMail.SmtpServer = "smtp.gmail.com";
                WebMail.SmtpPort = 587;
                WebMail.EnableSsl = true;
                WebMail.UserName = "mySmtpUsername";
                WebMail.Password = "mySmtpPassword";
                WebMail.From = "rsvps@example.com";

                WebMail.Send("party-host@example.com", "RSVP Notification",
                    Model.Name + " is " + (Model.WillAttend == true ? "" : "not ")
                        + "attending");

            } catch (Exception ex) {
                <strong class="d-block text-danger">Sorry - we couldn't send the email to confirm your RSVP.</strong>
                <strong class="d-block text-danger">@ex.Message</strong>
            }
        }
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true) {
                @:It's great that you're coming. The drinks are already in the fridge!
            } else {
                @:Sorry to hear that you can't make it, but thanks for letting us know.
            }
        </div>
    </div>
</body>
</html>
