<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        label { display: inline-block; width: 100px; }
        div.dataElem { margin: 5px; }
        h2 > label { width: inherit; }
        .editor-label, .editor-field { float: left; margin-top: 10px; }
        .editor-field input { height: 20px; }
        .editor-label { clear: left; }
        .editor-field { margin-left: 10px; }
        input[type=submit] { float: left; clear: both; margin-top: 10px; }
        .column { float: left; margin: 10px; }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
