@model SportsStore.Domain.Entities.Cart

<div class="navbar-text navbar-right d-flex align-items-center">
    <div>
        <b class="d-none d-md-block">Your cart:</b>
        @Model.Lines.Sum(x => x.Quantity) item(s),
        @Model.ComputeTotalValue().ToString("c")
    </div>
    <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
       class="d-block btn btn-secondary ml-2">
        <span class="d-none d-md-inline">Checkout</span>
        <i class="d-inline d-md-none fa fa-shopping-cart fa-fw"></i>
    </a>
</div>
