@model int

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <!-- This element has been commented out -->
    <!--<h2 class="message">@ViewData["Message"]</h2>-->
    <p>
        The calculation result value is: @Model
    </p>
</body>
</html>